<mat-toolbar>
  <span>Angular et tests utilisateur</span>
</mat-toolbar>
<mat-card>Nombre courant : {{current}}
  <button mat-raised-button color="primary" (click)="random()">Random</button>
  <br>
  <mat-form-field>
    <mat-label>changer le nombre courant</mat-label>
    <input matInput type="number" [(ngModel)]="current">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="changeCurrent()">changer</button>
<br>
  <mat-form-field>
    <mat-label>additionneur</mat-label>
    <input matInput type="number" [(ngModel)]="num">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addition()">add</button>

</mat-card>

